##---------------------------------------------------
## C++
##---------------------------------------------------

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
BoostNetworking.workspace
*.codelite
template_project-build/
*-build/
*/Debug
*.mk
CMakeCache.txt
*.d
