##---------------------------------------------------
## C++
##---------------------------------------------------

# Compiled Object files
*.slo
*.lo
*.o

# Protoc-generated message files
*.pb.*

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Slurm output files
*.out

# Codlite Artifacts
BoostNetworking.workspace
*.codelite
*.project 
*.cproject

# Build Directories
template_project-build/
*-build/
*/Debug
*.mk
CMakeCache.txt
*.d
